/*基本設定*/
*{
    background-color: #E4F1EE;
    color: #2B413C;
    font-family: "Inter",sans-serif;
    font-weight: normal;
}
body{
    text-align: center;
}
h2{
    margin-top: 200px;
    font-size: 40px;
}
p{
    font-size: 18px;
}
ul{
    list-style: none;
    padding: 0;
}
ul li{
    display: flex;
    justify-content: center;
    gap: 30%;
}
.border{
    margin: 10px 0;
    text-align: center;
    width: 100%;
    border-bottom:2px solid #2B413C;
}

/*プロフィールの設定*/
#profile{
    margin-top: 25%;
    margin-bottom: 25%;
}
#profile img{
    width: 50%;
    border-radius: 50%;
}
#profile h1{
    font-size: 48px;
    font-weight: bold;
}
#profile p{
    font-size: 24px;
}
@media screen and (min-width: 780px){
    #profile{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 50px;
    }
    #profile img{
        width: 300px;
        border-radius: 50%;
        
    }
}